// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 16px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

@import "../valo/valo.scss";

@mixin mjtheme {
  @include valo;

  $v-font-size: 14px;
  $v-font-weight: 100;
  $v-font-color-contrast: 1.0;

  .v-app {
  	color: black;
  }

  .link {
  	padding: 0px;
  	height: initial;
  	font-size: 12px;
  }
  
  .topbar {
  	background: rgb(224,224,224);
  	padding-left: 0.4em;
  	padding-right: 1em;
  }
  
  .pageDecoration {
  	background: rgb(240,240,240);
  	padding-left: 0.6em;
  }

  .form {
	padding: 0.6em;
  }
    
  .v-captiontext {
  	font-size: 12px;
  	line-height: 15px;
  }
    
  .v-textfield, .v-filterselect {
  	font-size: 14px;
  	height: 30px;
  }
  
  .v-textfield {
  	padding-top: 1px;
  	padding-bottom: 2px;
  }
  
  .queryContentLabel {
  	text-align: center;
  	margin-top: 17em;
  }

  .queryContentTextField {
  	text-align: center;
  	margin-top: 1em;
  	margin-bottom: 8em;
  }
  
}
