html {
	height: 100%;
}

body {
	font-family: sans-serif;
	font-size: 11px;
	margin: 0px;
	height: 100%;
}

#all {
	height: 100%;
	overflow: auto;
}

/* header with search */

#header {
	position: fixed;
	margin: 0px;
	width: 100%;
	height: calc(2.2em - 1px);
	line-height: 2.1em;
	text-align: left;
	background: rgb(224,224,224);
	border-bottom: 1px rgb(160,160,160) solid;
	padding-left: 0ex;
}

#navigationButton {
	position: absolute;
	top: 0.4em;
	left: 1em;
}

#search {
	position: absolute;
	top: 0;
	right: 1em;
	overflow: none;
}

#search input {
	display: inline-block;
	font-size: 11px;
	height: 1.5em;
	vertical-align: middle;
}

#search input:focus {
	outline: none;
}

#search input[type=text] {
	border: solid 1px #666;
	padding-right: 0.5em;
}

/* content */

#container {
	position: fixed;
	top: 2.2em;
	bottom: 0;
	margin: 0px;
}

#navigationContainer {
	position: absolute;
	left: 0px;
	width: calc(15em - 1px);
	top: 0px;
	bottom: 0px;
	margin: 0px;
	color: black;
	border-right: 1px rgb(160,160,160) solid;
}

#navigation {
	position: absolute;
	width: calc(15em - 1px);
	top: 1.8em;
	bottom: 0;
	overflow: auto;
	background: white;
}

.navigationHeader {
	position: absolute;
	height: calc(1.8em - 1px);
	line-height: 1.9em;
	padding-left: 1em;
	width: calc(100% - 1em);
	background: rgb(240,240,240);
	border-bottom: 1px rgb(160,160,160) solid;
}

ul {
	padding: 1ex 0ex 1ex 1ex;
}

li {
	list-style: none;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
}

a {
	color: blue;
}

/* pages */

#pageContainer {
	position: fixed;
	top: 2.2em;
	left: 15em;
	right: 0em;
	height: calc(100% - 2.2em);
	overflow: scroll;
	background: white;
}

.page {
	position: relative;
	border-bottom: 1px rgb(160,160,160) solid;
}

.pageHeader {
	position: relative;
	height: calc(1.8em - 1px);
	line-height: 1.9em;
	padding-left: 1em;
	width: calc(100% - 1em);
	background: rgb(240,240,240);
	border-bottom: 1px rgb(160,160,160) solid;
}

.pageContent {
	padding-left: 1em;
	width: calc(100% - 1em);
}

.actionMenu {
	position: absolute; right: 0em; top: 1.8em; bottom: 0em;
	border-left: 1px rgb(160,160,160) solid;
	background: white;
	overflow: auto;
}

ul.actionMenu {
	margin: 0em;
}

/* dialog */

dialog {
	border: 1px rgb(160,160,160) solid;
	padding: 0em;
	right: auto;
}

#dialogHeader {
	height: 2em;
	line-height: 2em;
	padding-left: 1em;
	border-bottom: 1px rgb(160,160,160) solid;
	background: rgb(240,240,240);
}

#dialogContent {
	padding-right: 2em;
	overflow: auto;
}

#dialogFooter {
	height: 2em;
	text-align: right;
	background: rgb(240,240,240);
	border-top: 1px rgb(160,160,160) solid;
	padding-top: 1ex;
	padding-right: 1ex;
}

#dialogFooter button {
	margin-right: 0.5ex;
	height: 1.5em;
}

/* table */

table {
	width: 100%;
	table-layout: fixed;
	font-size: inherit;
	border-spacing: 0px;
}

th {
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
}

.selected {
	background: blue;
}

table tr:nth-child(even) {
	background: #f8f8f8;
}

table tr:nth-child(odd) {
	background: white;
}

table tr:nth-child(even).selected {
	background: #99f;
}

table tr:nth-child(odd).selected {
	background: #99f;
}

table.formContainer {
	table-layout: auto;
	border-spacing: 0px;
	width: 100%;
	height: 100%;
}

table.form {
	border-spacing: 0px;
	width: 100%;
	margin: 0.5ex;
	font-size: 100%
}

table.form tr {
	height: 3em;
}

td {
	padding: 1ex 1.5ex;
	color: black;
	white-space: nowrap;
	vertical-align: top;
	overflow: hidden;
}

table.form input[type="text"], table.form select {
	width: 100%;
}

table.group, table.group td {
	background: transparent;
	table-layout: fixed;
	width: 100%;
	height: auto;
	margin: 0px;
	padding: 0px 0px 0px 0px;
	border: 0px;
	border-spacing: 0px;
}

table.group tr {
	height: auto;
}

/* various elements */

input {
	height: 1.5em
}

select {
	height: 1.5em
}

hr {
	margin: 0px;
	border: 0px;
	border-top: 1px rgb(160,160,160) solid;
}

.caption {
	font-size: x-small;
	font-weight: bolder;
	margin-bottom: 0.5ex;
}

.hide {
	visibility: hidden;
}

.action {
	font-size: small;
	color: blue;
}

.action:hover {
	text-decoration: underline;
}
