html {
	/* needed for android browser because else overflow hidden is not respected */
	position: fixed;
	width: 100%;
	height: 100%;
}

body {
	font-family: sans-serif;
	font-size: 11px;
	margin: 0px;
	height: 100%;
	overflow: hidden;
}

::selection {
	background: rgba(0,0,0,.05);
}

/* header with search */

#header {
	position: fixed;
	margin: 0px;
	left: 0px;
	right: 0px;
	height: 2.6em;
	box-sizing: border-box;
	line-height: 2.45em;
	text-align: left;
	background: rgb(0, 0, 0, 0.125);
	padding-left: 0ex;
	border-bottom: 1px rgb(160,160,160) solid;
}

.headerButton {
	margin-top: 0.6em;
	margin-left: 0.4em;
	width: 1.52em;
	height: 1.52em;
}

#searchSpan {
	position: absolute;
	top: 0;
	right: 1em;
	overflow: none;
}

#search {
	vertical-align: top;
	border: solid 1px #888;
	margin-top: 0.53em;
	height: 1.55em
}

#search input:focus {
	outline: none;
}

/* content */

#container {
	position: fixed;
	display: flex;
	top: 2.6em;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0px;
}

#navigationContainer {
	margin: 0px;
	border-right: 1px rgb(160,160,160) solid;
}

.secondHeader {
	border-bottom: 1px rgb(160,160,160) solid;
	display: flex;
	align-items: center;
}

.pageTitle {
	flex-grow: 1;
}

.pageButton {
	width: 1.1em;
	height: 1.1em;
}

#navigationHeader {
	position: relative;
	height: 2em;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	flex-direction: row-reverse;
	padding-right: 1em;
	background: rgb(240,240,240);
}

#navigation {
	position: relative;
	width: calc(15em - 1px);
	max-height: calc(100% - 2em);
	bottom: 0;
	overflow: auto;
	padding-left: 0.7em;
}

#navigation ul {
	padding-left: 0.7em;
}

#navigation li {
	margin: 0.7em 0em 0.7em 0em;
}

#navigation li, .actionMenu li {
	list-style: none;
}

#navigation li a, .actionMenu li a {
	display: block;
	border-top: 0.25em transparent solid;
	border-bottom: 0.25em transparent solid;
	width: 100%;
	box-sizing: border-box;
}

.action {
	color: -moz-hyperlinktext;
	color: blue;
	cursor: pointer;
	text-decoration: none;
}

.action:hover {
	text-decoration: underline;
}

.action[disabled] {
	cursor: default;
	text-decoration: none;
	color: gray;
}

.button {
	stroke: #555;
	fill: #555;
	display: inline-block;
	margin-left: 1em;
}

.button:hover {
	stroke: #000;
	fill: #000;
}

/* pages */

#pageContainer {
	margin: 0px;
	overflow: auto;
	display: flex;
	flex-direction: column;
	width: 100%;
}

.page {
	width: 100%;
	flex-grow: 1;
	flex-basis: 2em;
	overflow: hidden;
	box-sizing: border-box;
}

.pageHeader {
	height: 2em;
	box-sizing: border-box;
	line-height: 2.1em;
	background: rgb(240,240,240);
	padding-right: 1em;
	padding-left: 1em;
}

.pageContentAndActions {
	height: calc(100% - 2em);
	overflow-y: auto;
}

.pageContent {
	width: 100%;
	box-sizing: border-box;
	padding-left: 1em;
	padding-top: 0.5ex;
	overflow: auto;
}

.pageContent.contentQuery {
	padding-right: 1em;
}

iframe.pageContent {
	height: 100%;
	padding: 0;
	border: 0;
	font-family: inherit;
}

table.table tr td {
	height: 1.7em;
	line-height: 1.6em;
}

table.table thead {
	position: sticky;
	top: 0;
	background: white;
}

.table .form > div > div {
	padding-top: 0;
	padding-bottom: 0;
	flex-grow: 0 !important;
}

.table .form {
	margin-top: 0;
}

.table .columnFilter input {
	width: 100%;
}

.table tfoot tr td * {
	padding: 0.5em;
	vertical-align: middle;
}

.actionMenu {
	position: fixed;
	z-index: 20;
	padding: 0.5ex 1ex 0.5ex 1ex;
	border: 1px rgb(160,160,160) solid;
	background: white;
	overflow: auto;
}

/* dialog */

dialog {
	border: 1px rgb(160,160,160) solid;
	padding: 0em;
	width: auto;
	top: 1em;
	bottom: auto;
	left: 1em;
	right: auto;
	color: unset;
	display: flex;
	flex-direction: column;
}

dialog:nth-child(3n+1) {
	top: 2em;
}

dialog:nth-child(3n+2) {
	top: 3em;
}

.dialogHeader {
	border-bottom: 1px rgb(160,160,160) solid;
	background: rgb(240,240,240);
	overflow: hidden;
	cursor: move;
	flex-shrink: 0;
	display: flex;
}

.dialogHeader .button {
	cursor: default;
}

.dialogHeader span {
	flex-grow: 1;
	flex-shrink: 1;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.dialogContent {
	flex-grow: 1;
	overflow-y: auto;
	overflow-x: hidden;
}

.dialogContentWrapper {
	overflow: hidden;
}

.dialogFooter {
	text-align: right;
	background: rgb(240,240,240);
	border-top: 1px rgb(160,160,160) solid;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	height: fit-content;
}

.dialogFooter button {
	margin-right: 0.8em;
}

.fullscreen .dialogFooter button {
	margin-right: 0.2em;
}

.dialogResize {
	position: absolute;
	right: 0px;
	bottom: 0px;
	cursor: se-resize;
}

dialog.fullscreen {
	position: absolute;
	top: 0em !important;
	bottom: 0em;
	left: 0em !important;
	right: 0em;
	width: auto !important;
	height: auto !important;
	border: none;
	margin: 0em;
	max-width: unset;
	max-height: unset;
}

dialog.fullscreen .dialogHeader {
	cursor: unset;
}

dialog.fullscreen .dialogResize {
	display: none;
}

@media (max-width: 450px) {
	dialog.fullscreen .maximizeButton {
		display: none;
	}
}

#applicationVersion {
	display: none;
}

/* table */

table {
	table-layout: fixed;
	font-size: inherit;
	border-spacing: 0px;
}

td, th {
	text-align: left;
	color: black;
	white-space: nowrap;
	vertical-align: top;
	overflow: hidden;
}

table.selected {
	background: blue;
}

table tbody tr:nth-child(even) {
	background: #f8f8f8;
}

table tbody tr:nth-child(even).selected {
	background: #99f;
}

table tbody  tr:nth-child(odd).selected {
	background: #99f;
}

.form {
	border-spacing: 0px;
	width: 100%;
}

.form > div {
	display: flex;
	flex-wrap: nowrap;	
}

.dialogContent, .dialogHeader {
	padding: 0.4rem 1rem;
	box-sizing: border-box;
}

dialog table {
    /* for search dialogs */
	width: 100%;
}

.form > div > div, .dialogButtons {
	padding-right: 1em;
}

.form > div > div {
	position: relative;
	padding-top: 0.4em;
	padding-bottom: 0.4em;
	flex-shrink: 0;
}

.fullscreen .form > div {
	flex-wrap: wrap;	
}

.fullscreen .form > div > div {
	flex-shrink: 1;
}

.form > div > div > *, .form input[type=text], .form select {
	width: 100%;
}

.form input, .form select, .form .text {
	height: 1.8em;
}

.form .text {
	padding-top: 3.5px;
}

.lookup .text, .lookup input {
	width: 100%;
	min-height: 1.8em;
	box-sizing: border-box;
}

.lookup input {
	width: 100%;
}

.lookup .text {
	padding: 3.5px;
	border: lightgray solid 1px;
	margin: 0em 2em 0em 0em;
	padding-right: 2em !important;
	text-overflow: ellipsis;
    overflow: hidden;
}

.formElement[title] input.changed,
.formElement[title] .lookup .text,
.formElement[title] input.changed,
.form.showValidations .formElement[title] input {
	border-color: red;
}

.asterisk {
	position: relative;
	top: -2px;
	color: red;
	padding-left: 0.2ex;
}

th .form {
	font-weight: normal;
}

.dropdownButton {
	position: absolute;
	right: 0px;
	bottom: 0px;
	top: 0px;
	width: 2em;
	background-size: 0.8em 0.5em;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='stroke: black; stroke-width:20%25'%3E%3Cline x1='7%25' y1='7%25' x2='51%25' y2='93%25'/%3E%3Cline x1='93%25' y1='7%25' x2='49%25' y2='93%25'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
}

/* https://css-tricks.com/using-svg/
<svg style="stroke: black; stroke-width:20%">
<line x1="7%" y1="7%" x2="51%" y2="93%"/>
<line x1="93%" y1="7%" x2="49%" y2="93%"/>
</svg>
*/

.dropdown {
	position: fixed;
	width: -moz-fit-content;
	width: fit-content;
	border: black solid 1px;
	background: white;
	z-index: 1;
}

.lookup .dropdown div {
	padding: 0.2em;
}

.form .groupItem:first-child .lookup .text {
	border-top: lightgray solid 1px;
}

dialog .form div.list {
	padding-top: 0.05rem;
}

/* group (of form elements) must not double the paddings and keep background pattern */

.groupHorizontal {
	display: table;
	table-layout: fixed;
	width: 100%;
	box-sizing: border-box;	
}

.groupHorizontal > * {
	display: table-cell;
}

.groupVertical {
	display: block;
}

/* various elements */

input, .checkBoxContainer, select {
	padding-top: 0.15em;
	padding-bottom: 0.15em;
	font-size: inherit;
}

input[type="checkbox"] {
	height: inherit;
	width: 1.2em;
	margin-bottom: 0px;
	vertical-align: bottom;
}

label.checkboxLabel {
	display: inline;
	white-space: nowrap; /* important for long labels */
	margin-top: 0.2em;
	font-weight: normal;
}

textarea {
	font-family: inherit;
	font-size: inherit;
	resize: vertical;
}

hr {
	margin: 0px;
	border: 0px;
	border-top: 1px rgb(160,160,160) solid;
}

fieldset {
	border: none;
	padding: 0px;
}

fieldset label {
	display: inline;
	font-size: unset;
	font-weight: normal;
	padding-right: 2em;
	vertical-align: bottom;
}

label {
	display: block;
	align-items: center;
	white-space: nowrap;
	overflow: hidden;
	font-size: smaller;
	font-weight: bolder;
}

label.help {
	font-size: x-small;
	visibility: hidden;	
}

label.invisible {
	color: transparent;
}

.title {
	font-size: larger;
	font-weight: bolder;
}

.lookup {
	position: relative;
}

.lookup input {
	margin: 0px;
}

.lookup select option:first-child {
	display: none;
}

/* https://css-tricks.com/using-svg/
<svg style="stroke: black; stroke-width:20%">
<line x1="7%" y1="7%" x2="93%" y2="51%"/>
<line x1="7%" y1="93%" x2="93%" y2="49%"/>
</svg>
*/

.lookupButton {
	position: absolute;
	width: 2em;
	top: 0;
	right: 0;
	bottom: 0;
	background-size: 0.5em 0.8em;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='stroke: black; stroke-width:20%25'%3E%3Cline x1='7%25' y1='7%25' x2='93%25' y2='51%25'/%3E%3Cline x1='7%25' y1='93%25' x2='93%25' y2='49%25'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
}

.columnFilter .lookupButton {
	width: 1.5em;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='stroke: black; stroke-width:15%25'%3E%3Cline x1='7%25' y1='40%25' x2='50%25' y2='80%25'/%3E%3Cline x1='93%25' y1='40%25' x2='50%25' y2='80%25'/%3E%3C/svg%3E");
}

.hide {
	display: none;
}

.red { color: red; }
.green { color: green; }
.blue { color: blue; }
.yellow { color: #c1aa1e; }

@media screen and (min-width: 992px) {
	#search { display: inline !important; }
	#searchButton { display: none; }
	#actionMenuButton, #tableFilterButton { display: none; }
}

@media screen and (max-width: 991px) {
	#search { display: none; }
	#navigationContainer { left: 1ex; top: 1ex; bottom: 1ex; z-index: 1; border-right: 1px rgb(160,160,160) solid;}
	#navigationHeader { display: none; }
	#navigation { max-height: 100%}
	#pageContainer { height: 100%}
	/* not working with ie: #pageContainer .page:not(:last-child) { display: none; } */
	.page { display: none; }
	.page:last-child { display: block; border-bottom: none; top: 0em; right: 0em; min-height: unset; height: 100%; }
	.page:last-child > .pageContentAndActions { top: 0em; height: 100%;}
	.pageHeader { display: none; }
	.actionMenu { min-width: 13em;}
	table.form > tbody > tr > td:first-child, table.form > tbody > tr > td:last-child, table.form th { padding: 1ex; }
	table.form, table.form input, table.form select { margin: 0px; }
}

@media print {
  .hidden-print {
    display: none !important;
  }
}