body {
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	margin: 0px;
	height: 100%;
	color: rgb(21, 21, 21);
}

#header {
	border: none;
	z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.26) 0px 2px 5px;
}

#navigationHeader {
	border: none;
	box-shadow: rgba(0, 0, 0, 0.26) 0px 1px 3px;
}

#navigationContainer {
	background: rgb(250, 250, 250);
	z-index: 1;
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.26);
	border: none;
}

.pageHeader {
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.26);
	border: none;
}

ul {
	padding: 0.7ex 0em .7em 0em;
}

li {
	padding: 1em 0em 0em 1em;
	font-weight: 700;
}

.action {
	font-weight: 100;
}

.pageContentAndActions {
	z-index: 1;
}

.page {
	border: none;
}

.actionMenuContainer {
	background: rgb(250, 250, 250);
	border: none;
	z-index: 1;
	box-shadow: 1px 1px 4px gray;
}

dialog {
	box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px
		rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
	border: none;
	padding: 1.2em;
	right: 0em;
}

.dialogContent {
	padding: 0.8em;
	box-sizing: border-box;
}

.dialogHeader {
	border: none;
	background: transparent;
	padding: 0em;
}

.compact .dialogHeader {
	line-height: unset;
}

.compact .dialogFooter {
	height: fit-content;
}

.dialogContent {
	overflow-y: auto;
	overflow-x: hidden;
}

.dialogFooter {
	border: none;
	background: transparent;
}

button {
	padding: .5em 1em;
	border-width: 0;
	outline: none;
	border-radius: 2px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
	background-color: #888888;
	color: #ecf0f1;
	transition: background-color .3s;
}

.dialogFooter button {
	margin: 0.5em 1em;
}

button:hover {
	background-color: #aaaaaa;
}

label {
	font-weight: unset;
	color: gray;
}


/* TODO SELECT */

.form input, .form select, .form textarea {
	font-family: inherit;
	box-sizing: border-box;
	background-color: transparent;
	padding: 4px 0;
	border: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.12);
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.form input:focus, .form select:focus, .form textarea:focus {
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
	outline: none;
}

.form select:after {
	position: absolute;
	top: 0.75em;
	right: 0.5em;
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: .25em solid transparent;
	border-right: .25em solid transparent;
	border-top: 0.375em solid rgba(0, 0, 0, 0.12);
	pointer-events: none;
}