html {
	height: 100%;
}

body {
	font-family: sans-serif;
	font-size: 11px;
	margin: 0px;
	height: 100%;
}

#all {
	height: 100%;
	overflow: auto;
}

/* header with search */

#header {
	position: fixed;
	margin: 0px;
	width: 100%;
	height: calc(2.2em - 1px);
	line-height: 2.1em;
	text-align: left;
	background: rgb(224,224,224);
	border-bottom: 1px rgb(160,160,160) solid;
	padding-left: 0ex;
}

.headerButton {
	margin-top: 0.4em;
	margin-left: 0.4em;
}

#searchSpan {
	position: absolute;
	top: 0;
	right: 1em;
	overflow: none;
}

#search {
	font-size: 11px;
	vertical-align: top;
	border: solid 1px #666;
	margin-top: 0.35em;
}

#search input:focus {
	outline: none;
}

/* content */

#container {
	position: fixed;
	top: 2.2em;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0px;
}

#navigationContainer {
	position: absolute;
	left: 0px;
	width: 15em; /* fallback for very old browsers without calc */
	width: calc(15em - 1px);
	top: 0px;
	bottom: 0px;
	margin: 0px;
	color: black;
	border-right: 1px rgb(160,160,160) solid;
}

#navigationHeader {
	position: relative;
	height: calc(1.8em - 1px);
	line-height: 1.9em;
	padding-left: 1em;
	width: calc(100% - 1em);
	background: rgb(240,240,240);
	border-bottom: 1px rgb(160,160,160) solid;
}

#navigation {
	position: relative;
	width: calc(15em - 1px);
	max-height: calc(100% - 1.8em);
	bottom: 0;
	overflow: auto;
	background: white;
}


ul {
	padding: 1ex 0ex 1ex 1ex;
}

li {
	list-style: none;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
}

.action {
	color: blue;
	color: -moz-hyperlinktext;
	cursor: pointer;
	text-decoration: none;
}

.action:hover {
	text-decoration: underline;
}

.action[disabled] {
	cursor: default;
	text-decoration: none;
	color: gray;
}

.button {
	stroke: #555;
	fill: #555;
	display: inline-block;
	margin-left: 1em;
}

.button:hover {
	stroke: #000;
	fill: #000;
}

/* pages */

#pageContainer {
	position: absolute;
	left: 0em;
	right: 0em;
	top: 0px;
	bottom: 0px;
	margin: 0px;
	overflow: auto;
	background: white;
}

.page {
	position: relative;
	border-bottom: 1px rgb(160,160,160) solid;
	min-height: 10em;
}

.pageHeader {
	position: relative;
	height: calc(1.8em - 1px);
	line-height: 1.9em;
	padding-left: 1em;
	width: calc(100% - 1em);
	background: rgb(240,240,240);
	border-bottom: 1px rgb(160,160,160) solid;
}

.pageContent {
	padding-left: 1em;
	padding-top: 0.5ex;
}

.pageContentSmall {
	width: calc(100% - 16em);
}

.pageContentExpend {
	width: calc(100% - 1em);
}

iframe.pageContent {
	padding: 0em;
	width: 100%;
}

table.table tr td {
	height: 1.7em;
	line-height: 1.6em;
}

.actionMenu {
	position: absolute; right: 0em; top: 1.8em; bottom: 0em;
	border-left: 1px rgb(160,160,160) solid;
	min-width: 15em;
	background: white;
	overflow: auto;
}

ul.actionMenu {
	margin: 0em;
	padding-right: 2ex;
}

/* dialog */

dialog {
	border: 1px rgb(160,160,160) solid;
	padding: 0em;
	right: auto;
}

.dialogHeader {
	height: 2em;
	line-height: 2em;
	padding-left: 1em;
	border-bottom: 1px rgb(160,160,160) solid;
	background: rgb(240,240,240);
}

.dialogContent {
	overflow-y: auto;
	overflow-x: hidden;
}

.dialogFooter {
	text-align: right;
	background: rgb(240,240,240);
	border-top: 1px rgb(160,160,160) solid;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
}

.dialogFooter button {
	margin-right: 0.2em;
}

/* table */

table {
	width: 100%;
	table-layout: fixed;
	font-size: inherit;
	border-spacing: 0px;
}

td, th {
	text-align: left;
	color: black;
	white-space: nowrap;
	vertical-align: top;
	overflow: hidden;
}

table.selected {
	background: blue;
}

table tr:nth-child(even) {
	background: #f8f8f8;
}

table tr:nth-child(odd) {
	background: white;
}

table tr:nth-child(even).selected {
	background: #99f;
}

table tr:nth-child(odd).selected {
	background: #99f;
}

table.form {
	border-spacing: 0px;
	width: 100%;
	margin-top: 0.5ex;
}

table.form tr {
	height: 3em;
}

table.form > tbody > tr > td:first-child {
	padding-left: 0.7ex;
}

/* In chrome/firefox the scrollbar needs space from form on the right */
table.form > tbody > tr > td:last-child {
	padding-right: 3ex;
}

table input, table select, table textarea, table .lookup, dialog table label {
	width: calc(100% - 0.4rem);
	margin-left: 0.2rem;
	margin-right: 0.2rem;
}

dialog table div {
	width: calc(100% - 0.4rem);
	margin-left: 0.2rem;
	margin-right: 0.2rem;
	height: calc(100% - 0.4rem);
	padding-top: 0.2rem;
	padding-bottom: 0.2rem;
}

dialog table div.list {
	padding-top: 0.05rem;
}

dialog table div div {
	width: 100%;
	margin: 0px;
	height: 100%;
	padding: 0px;
}

table.form td, table.form th {
	padding-top: 1ex;
	padding-bottom: 1ex;
}

/* group (of form elements) must not double the paddings and keep background pattern */

table.group tr {
	height: auto;
	background: none;
}

table.group td {
	padding-top: 0;
	padding-bottom: 0;
}

table.group td:first-child {
	padding-left: 0;
}

table.group td:last-child {
	padding-right: 0;
}

/* various elements */

input, .checkBoxContainer, select {
	height: 1.5em
}

input[type="checkbox"] {
	height: inherit;
	margin-bottom: 0px;
	margin-top: 0px;
	vertical-align: bottom;
}

textarea {
	font-family: inherit;
}

hr {
	margin: 0px;
	border: 0px;
	border-top: 1px rgb(160,160,160) solid;
}

label {
	display: block;
	font-size: x-smaller;
	font-weight: bolder;
	margin-bottom: 0.5ex;
}

.title {
	font-size: larger;
	font-weight: bolder;
}

.hide {
	visibility: hidden;
}

iframe {
	border: 0px;
}

block {
	display: none;
}

.is-blocked {
	display: block;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.1);
	z-index: 90;
}