html {
	height: 100%;
}

body {
	font-family: sans-serif;
	font-size: 11px;
	margin: 0px;
	height: 100%;
}

/* header with search */

#header {
	position: fixed;
	margin: 0px;
	width: 100%;
	height: 2.6em;
	box-sizing: border-box;
	line-height: 2.45em;
	text-align: left;
	background: rgb(224,224,224);
	border-bottom: 1px rgb(160,160,160) solid;
	padding-left: 0ex;
}

.headerButton {
	margin-top: 0.6em;
	margin-left: 0.4em;
	width: 1.52em;
	height: 1.52em;
}

#searchSpan {
	position: absolute;
	top: 0;
	right: 1em;
	overflow: none;
}

#search {
	vertical-align: top;
	border: solid 1px #888;
	margin-top: 0.53em;
	height: 1.55em
}

#search input:focus {
	outline: none;
}

/* content */

#container {
	position: fixed;
	display: flex;
	top: 2.6em;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0px;
}

#navigationContainer {
	margin: 0px;
	border-right: 1px rgb(160,160,160) solid;
}

#navigationHeader {
	position: relative;
	height: 2em;
	box-sizing: border-box;
	line-height: 2.1em;
	padding-left: 1em;
	width: 100%;
	background: rgb(240,240,240);
	border-bottom: 1px rgb(160,160,160) solid;
}

#navigation {
	position: relative;
	width: calc(15em - 1px);
	max-height: calc(100% - 2em);
	bottom: 0;
	overflow: auto;
}


ul {
	padding: 1ex 0ex 1ex 1ex;
}

li {
	list-style: none;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
}

.action {
	color: blue;
	color: -moz-hyperlinktext;
	cursor: pointer;
	text-decoration: none;
}

.action:hover {
	text-decoration: underline;
}

.action[disabled] {
	cursor: default;
	text-decoration: none;
	color: gray;
}

.button {
	stroke: #555;
	fill: #555;
	display: inline-block;
	margin-left: 1em;
}

.button:hover {
	stroke: #000;
	fill: #000;
}

/* pages */

#pageContainer {
	flex-grow: 10;
	margin: 0px;
	overflow: auto;
	background: white;
}

.page {
	position: relative;
	border-bottom: 1px rgb(160,160,160) solid;
	width: 100%;
}

.page:only-child {
	border-bottom: none;
	top: 0em;
	right: 0em;
	min-height: unset;
	height: 100%;
}

.pageHeader {
	position: relative;
	height: 2em;
	box-sizing: border-box;
	line-height: 2.1em;
	padding-left: 1em;
	background: rgb(240,240,240);
	border-bottom: 1px rgb(160,160,160) solid;
}

.pageContentAndActions {
	position: relative;
	min-height: 8em;
}

.page:only-child > .pageContentAndActions {
	position: absolute;
	top: 2em;
	left: 0em;
	right: 0em;
	height: calc(100% - 2em)
}

.pageButton {
	width: 1.1em;
	height: 1.1em;
}

.pageContent {
	width: 100%;
	box-sizing: border-box;
	padding-left: 1em;
	padding-top: 0.5ex;
	overflow: auto;
}

.page:only-child .pageContent {
	height: 100%;
}
	
iframe.pageContent {
	padding-top: 0;
	border: 0;
	font-family: inherit;
}

table.table tr td {
	height: 1.7em;
	line-height: 1.6em;
}

.actionMenuContainer {
	position: absolute;
	top: 0em;
	right: 0em;
	bottom: 0em;
	z-index: 1;
	border-left: 1px rgb(160,160,160) solid;
	min-width: 15em;
	background: white;
	overflow: auto;
}

ul.actionMenu {
	margin: 0em;
	padding-right: 2ex;
}

/* dialog */

dialog {
	border: 1px rgb(160,160,160) solid;
	padding: 0em;
	width: auto;
	top: 1em;
	left: 1em;
	margin-right: 1em;
	margin-bottom: 1em;
	color: unset;
}

dialog.fullscreen {
	position: absolute;
	bottom: 0em;
	box-sizing: border-box;
	border: none;
}

.dialogHeader {
	height: 2em;
	line-height: 2em;
	padding-left: 1em;
	border-bottom: 1px rgb(160,160,160) solid;
	background: rgb(240,240,240);
	overflow: hidden;
}

.dialogContent {
	overflow-y: auto;
	overflow-x: hidden;
}

.dialogFooter {
	text-align: right;
	background: rgb(240,240,240);
	border-top: 1px rgb(160,160,160) solid;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	height: fit-content;
}

.fullscreen .dialogFooter {
	position: absolute;
	left: 0em;
	right: 0em;
	bottom: 0em;
}

.dialogFooter button {
	margin-right: 0.2em;
}

/* table */

table {
	width: 100%;
	table-layout: fixed;
	font-size: inherit;
	border-spacing: 0px;
}

td, th {
	text-align: left;
	color: black;
	white-space: nowrap;
	vertical-align: top;
	overflow: hidden;
}

table.selected {
	background: blue;
}

table tr:nth-child(even) {
	background: #f8f8f8;
}

table tr:nth-child(odd) {
	background: white;
}

table tr:nth-child(even).selected {
	background: #99f;
}

table tr:nth-child(odd).selected {
	background: #99f;
}

.form {
	border-spacing: 0px;
	width: 100%;
	margin-top: 0.5ex;
}

.form > div {
	display: flex;
	flex-wrap: wrap;	
}

.form > div > div {
	padding-top: 0.4em;
	padding-bottom: 0.4em;
	overflow: hidden;
}

.form input, .form select, .form textarea, .form .lookup, dialog .form .text, dialog .form label, dialog .form div.list, dialog .form .title {
	width: calc(100% - 1em);
	margin-left: 0.5em;
	margin-right: 0.5em;
}

.form .lookup .text {
	width: 100%;
	padding: 3.5px;
	border: lightgray solid 1px;
	margin: 0em;
}

.form .groupItem:first-child .lookup .text {
	border-top: lightgray solid 1px;
}

dialog .form div.list {
	padding-top: 0.05rem;
}

/* group (of form elements) must not double the paddings and keep background pattern */

.groupHorizontal {
	display: flex;
	flex-wrap: wrap;	
}

.groupVertical {
	display: block;
}

/* various elements */

input, .checkBoxContainer, select {
	padding-top: 0.15em;
	padding-bottom: 0.15em;
	font-size: inherit;
}

input[type="checkbox"] {
	height: inherit;
	width: 1.2em;
	margin-bottom: 0px;
	vertical-align: bottom;
}

label.checkboxLabel {
	display: inline;
	white-space: nowrap; /* important for long labels */
	margin-top: 0.2em;
	font-weight: normal;
}

textarea {
	font-family: inherit;
	font-size: inherit;
	resize: vertical;
}

hr {
	margin: 0px;
	border: 0px;
	border-top: 1px rgb(160,160,160) solid;
}

label {
	display: inline-flex;
	align-items: center;
	overflow: hidden;
	font-size: x-smaller;
	font-weight: bolder;
}

.title {
	font-size: larger;
	font-weight: bolder;
}

.lookup {
	display: flex;
}

.lookup input {
	flex-grow: 1;
	margin: 0px;
	width: 3em;
}

.lookup button, .lookup select {
	align-self: start;
}

.lookup span {
	flex-grow: 1;
	align-self: center;
}

.lookup select {
	width: 1.8em;
	height: 1.8em;
	padding: 0;
	vertical-align: middle;
	margin: 0;
}

.lookup select option:first-child {
	display: none;
}

.hide {
	visibility: hidden;
}

@media (min-width: 992px) {
	#search { display: inline !important; }
	#searchButton { display: none; }
	#actionMenuButton { display: none; }
}

@media (max-width: 991px) {
	#search { display: none; }
	#navigationContainer { left: 1ex; top: 1ex; bottom: 1ex; z-index: 1; background: white; border-right: 1px rgb(160,160,160) solid;}
	#navigationHeader { display: none; }
	#navigation { max-height: 100%}
	#pageContainer { height: 100%}
	/* not working with ie: #pageContainer .page:not(:last-child) { display: none; } */
	.page { display: none; }
	.page:last-child { display: block; border-bottom: none; top: 0em; right: 0em; min-height: unset; height: 100%; }
	.page:last-child > .pageContentAndActions { top: 0em; height: 100%;}
	.pageHeader { display: none; }
	.actionMenu { min-width: 13em;}
	.pageButton { display: none; }
	table.form > tbody > tr > td:first-child, table.form > tbody > tr > td:last-child, table.form th { padding: 1ex; }
	table.form, table.form input, table.form select { margin: 0px; }
	.dialogFooter button { font-size : inherit; }
	.dialogHeader { height: 2.3em; line-Height: 2.3em; font-size: larger;}
}