html {
	height: 100%;
}

body {
	font-family: sans-serif;
	font-size: 11px;
	margin: 0px;
	height: 100%;
}

#all {
	height: 100%;
	overflow: auto;
}

/* header with search */

#header {
	position: fixed;
	margin: 0px;
	width: 100%;
	height: calc(3em - 1px);
	line-height: 2.8em;
	text-align: left;
	background: rgb(224,224,224);
	border-bottom: 1px rgb(160,160,160) solid;
	padding-left: 0ex;
}

.headerButton {
	margin-top: 0.8em;
	margin-left: 0.4em;
	width: 1.55em;
	height: 1.55em;
}

#searchSpan {
	position: absolute;
	top: 0;
	right: 1em;
	overflow: none;
}

#search {
	vertical-align: top;
	border: solid 1px #888;
	margin-top: 0.65em;
	height: 1.75em
}

#search input:focus {
	outline: none;
}

/* content */

#container {
	position: fixed;
	display: flex;
	top: 3em;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0px;
}

#navigationContainer {
	margin: 0px;
	color: black;
	border-right: 1px rgb(160,160,160) solid;
}

#navigationHeader {
	position: relative;
	height: calc(1.8em - 1px);
	line-height: 1.9em;
	padding-left: 1em;
	width: calc(100% - 1em);
	background: rgb(240,240,240);
	border-bottom: 1px rgb(160,160,160) solid;
}

#navigation {
	position: relative;
	width: calc(15em - 1px);
	max-height: calc(100% - 1.8em);
	padding-left: 0.8em;
	padding-top: 0.6em;
	bottom: 0;
	overflow: auto;
	background: white;
}


ul {
	padding: 1ex 0ex 1ex 1ex;
}

li {
	list-style: none;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
}

.action {
	color: blue;
	color: -moz-hyperlinktext;
	cursor: pointer;
	text-decoration: none;
}

.action:hover {
	text-decoration: underline;
}

.action[disabled] {
	cursor: default;
	text-decoration: none;
	color: gray;
}

.button {
	stroke: #555;
	fill: #555;
	display: inline-block;
	margin-left: 1em;
}

.button:hover {
	stroke: #000;
	fill: #000;
}

/* pages */

#pageContainer {
	flex-grow: 10;
	margin: 0px;
	overflow: auto;
	background: white;
}

.page {
	position: relative;
	border-bottom: 1px rgb(160,160,160) solid;
	min-height: 10em;
	width: 100%;
}

.pageHeader {
	position: relative;
	height: calc(1.8em - 1px);
	line-height: 1.9em;
	padding-left: 1em;
	background: rgb(240,240,240);
	border-bottom: 1px rgb(160,160,160) solid;
}

.pageContentAndActions {
	display: flex;
	flex-flow: nowrap;
	align-items: stretch;
	position: relative;
}

.pageButton {
	width: 1.1em;
	height: 1.1em;
}

.pageContent {
	width: 10em;
	flex-grow: 10;
	flex-shrink: 1;
	padding-left: 1em;
	padding-top: 0.5ex;
}

.pageContent iframe {
	padding: 0em;
	width: 100%;
}

table.table tr td {
	height: 1.7em;
	line-height: 1.6em;
}

.actionMenuContainer {
	flex-grow: 1;
	flex-shrink: 1;
	border-left: 1px rgb(160,160,160) solid;
	width: 15em;
	background: white;
	overflow: auto;
}

ul.actionMenu {
	margin: 0em;
	padding-right: 2ex;
}

/* dialog */

dialog {
	border: 1px rgb(160,160,160) solid;
	padding: 0em;
	width: auto;
	margin-top: 1em;
	margin-left: 1em;
	margin-right: 2em;
}

.dialogHeader {
	height: 2em;
	line-height: 2em;
	padding-left: 1em;
	border-bottom: 1px rgb(160,160,160) solid;
	background: rgb(240,240,240);
}

.dialogContent {
	overflow-y: auto;
	overflow-x: hidden;
}

.dialogFooter {
	text-align: right;
	background: rgb(240,240,240);
	border-top: 1px rgb(160,160,160) solid;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
}

.dialogFooter button {
	margin-right: 0.2em;
}

/* table */

table {
	width: 100%;
	table-layout: fixed;
	font-size: inherit;
	border-spacing: 0px;
}

td, th {
	text-align: left;
	color: black;
	white-space: nowrap;
	vertical-align: top;
	overflow: hidden;
}

table.selected {
	background: blue;
}

table tr:nth-child(even) {
	background: #f8f8f8;
}

table tr:nth-child(odd) {
	background: white;
}

table tr:nth-child(even).selected {
	background: #99f;
}

table tr:nth-child(odd).selected {
	background: #99f;
}

.form {
	border-spacing: 0px;
	width: 100%;
	margin-top: 0.5ex;
}

.form > div {
	display: flex;
	flex-wrap: wrap;	
}

.form > div > div {
	padding-top: 0.4em;
	padding-bottom: 0.4em;
}

.form input, .form select, .form textarea, .form .lookup, dialog .form label, dialog .form div.list, dialog .form .Title {
	width: calc(100% - 1em);
	margin-left: 0.5em;
	margin-right: 0.5em;
}

dialog .form div.list {
	padding-top: 0.05rem;
}

/* group (of form elements) must not double the paddings and keep background pattern */

.group {
	display: flex;
	flex-wrap: wrap;	
}

/* various elements */

input, .checkBoxContainer, select {
	padding-top: 0.15em;
	padding-bottom: 0.15em;
	font-size: inherit;
}

input[type="checkbox"] {
	height: inherit;
	width: 1.2em;
	margin-bottom: 0px;
	margin-top: 0px;
	vertical-align: bottom;
}

label.checkboxLabel {
	font-weight: normal;
}

textarea {
	font-family: inherit;
}

hr {
	margin: 0px;
	border: 0px;
	border-top: 1px rgb(160,160,160) solid;
}

label {
	display: block;
	font-size: x-smaller;
	font-weight: bolder;
}

.title {
	font-size: larger;
	font-weight: bolder;
}

.hide {
	visibility: hidden;
}

iframe {
	border: 0px;
}

block {
	display: none;
}

.is-blocked {
	display: block;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.1);
	z-index: 90;
}